@iconTop: 25px;

.flex(@direction: row, @rowAlign: flex-start, @colAlign: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @rowAlign;
    align-items: @colAlign;
}

.font(@fontSize, @color, @fontFamily) {
    font-size: @fontSize;
    line-height: @fontSize;
    color: @color;
    font-family: @fontFamily;
}

.chart-bg {
    width: 428px;  // 设计稿430
    box-sizing: border-box;
    padding: 30px 17px 10px 17px;
    background: linear-gradient(180deg, rgba(0,64,194,0.4) 0%,rgba(0,11,95,0) 100%);
    border: 2px solid rgba(0,43,131,0.3);
    border-radius: 8px 8px 0 0;
}

.home {
    // background-size: cover;
    // background: url('https://img10.360buyimg.com/imagetools/jfs/t1/121910/30/3664/2312512/5ed4749dE06be24e9/2cd1ce41c508f9d3.png') no-repeat;
    padding: 30px;
    overflow: auto;
    background: transparent;

    &-title-left {
        .flex(row, flex-start, center);
        &-main {
            .font(48px, #fff, 'JDLANGZHENGTI');
            background: url('//img14.360buyimg.com/imagetools/jfs/t1/128171/39/3963/6619/5ed76a0dEe522331f/9001ac1035adc692.png') no-repeat right 9px;
            padding-right: 180px;
        }
        &-sub {
            margin-top: 6px;
            .font(20px, #8CB8FF, 'SFProText-Light');
        }

    }

    &-title {
        &-time {
            flex: 1;
            .flex(row, flex-end, center);
        }
    }

    &-chart {
        &-container {
            margin-top: 29px;
            .flex(row, flex-start, flex-start);
        }
        &-right {
            flex: 1;
            &-total {
                margin-left: 19px;
                .flex(row, space-between, flex-start);
            }

            &-chart {
                margin-top: 8px;
                margin-left: 19px;
                .flex(row, space-between, flex-start)
            }

            &-drugStore {
                /* width: 430px;
                box-sizing: border-box;
                padding: 30px 17px 10px 17px;
                background: linear-gradient(rgba(0,64,194, 0), rgba(0,11,95, 1));
                border: 2px solid rgba(0,43,131,1);
                border-radius: 8px 8px 0 0; */
                .chart-bg();
                &-bar {
                    margin-top: 10px;
                }
            }

            &-hospital {
                .chart-bg();
            }

            &-urgent {
                .chart-bg();
            }
        }

        &-left {
            width: 520px;
            height: 947px;
            border-radius: 8px 8px 0 0;
            position: relative;
            background: linear-gradient(180deg, rgba(0,66,199,0.7) 0%,rgba(0,11,100,0.1) 100%);
            border: 2px solid rgba(4,87,255,0.7);
            &-app {
                position: absolute;
                top: @iconTop;
                left: 0;
            }

            &-program {
                position: absolute;
                top: @iconTop;
                right: 0;
            }

            &-grid {
                background-image: linear-gradient(rgba(26,84,183, .2) 1px, transparent 0), linear-gradient(90deg, rgba(26,84,183, .2) 1px, transparent 0);
                background-size: 14px 14px;
            }

            &-container {
                .flex(row, flex-start, center);
                position: relative;
                top: -4px;
            }

            &-text {
                .font(30px, #FFFFFF, 'PingFangSC-Semibold');
                line-height: 76px;
                flex: 1;
                text-align: center;
                height: 76px;
            }

            &-app-text {
                background: url("../../../assets/svg/appBg.svg");
                background-origin: border-box;
                position: relative;
                left: -4px;
            }
    
            &-program-text {
                background: url('../../../assets/svg/mini-program.svg');
                background-origin: border-box;
                position: relative;
                right: -4px;
            }
        }

        &-app {
            &-container {
                padding: 30px 26px  0 26px;
                box-sizing: border-box;
            }
            &-card {
                position: relative;
                top: -4px;
            }
        }
    }
}

/* html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pr {
    position: relative;
}

.bodyBg {
    transform-origin: left top;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    padding: 30px;
    transition: all 0.4s;
    box-sizing: border-box;
    opacity: 0;
} */

.hide {
    display: none;
}