.font(@fontSize, @color, @fontFamily) {
    font-size: @fontSize;
    line-height: @fontSize;
    color: @color;
    font-family: @fontFamily;
}

.total-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 318px; // 设计稿为318
    height: 270px;
    box-sizing: border-box;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(10,84,234,0.4) 0%,rgba(0,11,95,0) 100%);
    border: 2px solid rgba(4,87,255,0.4);
    padding: 30px 0 30px 30px;
    &-title {
        .font(28px, #fff, 'PingFangSC-Semibold')
    }

    &-pv {
        margin-top: 28px;
        .font(20px, #fff, 'PingFangSC-Regular');
        &-num {
            margin-top: 10px;
            .font(34px, #25E6FF, 'DIN-Bold');
            font-weight: bold;
        }
    }

    &-order {
        margin-top: 24px;
        .font(20px, #fff, 'PingFangSC-Regular');
        &-num {
            margin-top: 10px;
            .font(34px, #25E6FF, 'DIN-Bold');
            font-weight: bold;
        }
    }

    &-money {
        position: absolute;
        top: 30px;
        right: 10px;
        .font(28px, #25E6FF, 'DIN-Bold');
        font-weight: bold;
    }
}

.format-num {
    &-text-list {

    }
}
