.flex(@direction: row, @rowAlign: flex-start, @colAlign: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @rowAlign;
    align-items: @colAlign;
}

.font(@fontSize, @color, @fontFamily) {
    font-size: @fontSize;
    line-height: @fontSize;
    color: @color;
    font-family: @fontFamily;
}

.health-app {
    &-title {
        &-text {
            .font(30px, #FFFFFF, 'PingFangSC-Semibold');
            line-height: 76px;
            flex: 1;
            text-align: center;
            height: 76px;
        }

        &-container {
            .flex(row, flex-start, center);
        }

        &-app {
            flex: 1;
            background: url("../../../../assets/svg/appBg.svg");
            background-origin: border-box;
            position: relative;
            left: -4px;
        }

        &-program {
            background: url('../../../../assets/svg/mini-program.svg');
            background-origin: border-box;
            flex: 1;
            position: relative;
            right: -4px;
        }
    }

    &-content {
        padding: 0 26px 30px 26px;
    }

    &-pv {
        &-title {
            padding-top: 30px;
            .font(22px, #fff, 'PingFangSC-Regular')
        }

        &-num {
            width: 42px;
            height: 50px;
            background: #0A54EA;
            .flex(row, center, center);
            .font(40px, #fff, 'DIN-Bold');
            font-weight: bold;
            &:not(:first-of-type) {
                margin-left: 6px;
            }
        }

        &-sign {
            .font(40px, #fff, 'DIN-Bold');
            padding: 0 6px;
        }

        &-container {
            margin-top: 12px;
            .flex(row, flex-start, center)
        }
    }

    &-order {
        &-title {
            margin-top: 20px;
            .font(22px, #fff, 'PingFangSC-Regular')
        }

        &-num {
            width: 42px;
            height: 50px;
            background: #0A54EA;
            .flex(row, center, center);
            .font(40px, #fff, 'DIN-Bold');
            font-weight: bold;
            &:not(:first-of-type) {
                margin-left: 6px;
            }
        }

        &-sign {
            .font(40px, #fff, 'DIN-Bold');
            padding: 0 6px;
        }

        &-container {
            margin-top: 12px;
            .flex(row, flex-start, center)
        }
    }
}